/* intercom.css v0.1 by djphil (CC-BY-NC-SA 4.0) */

body {
    background-color: #ffffff; 
    margin: 0px; 
    padding: 0px;
}

#page-wrap {
    width: 480px;
    margin: 0px auto; 
    position: relative;
}

#chat-wrap {;}

#chat-area {
    height: 350px;
    overflow: auto;
    border: 1px solid rgba(0,0,0, 0.125);
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    margin: 0px;
}

#chat-area span, .panel-default span {
    padding: 4px 4px;
    color: #222; 
    background: #fff;
    /*font-weight: bold;*/
    border: 1px solid rgba(0,0,0, 0.125);
    border-radius: 5px;
    -moz-border-radius: 5px; 
    -webkit-border-radius: 5px;
}

#chat-area p, .panel-default p {
    padding: 0px 0px 6px 0px; 
    border-bottom: 1px solid rgba(0,0,0, 0.125);
    margin: 6px 6px 6px 3px;
}

#name-area {padding: 2px; font-size: 0.85em;}
#name-area span {font-weight: bold; }

#send-message-area p {
    float: left;
    padding-top: 5px;
}

#sendie {;}
img.smiley {height: 16px; margin-top: -4px;}
/*#logs pre {margin: 10px 0px 0px 0px;}*/
.logs-title {font-size: 0.8em;}
.help, .logs {font-size: 0.9em;}
.help {;}
.footer {padding: 10px; font-size: 0.8em;}

/* TO TOP */
.btn-fixed-bottom {
    position: absolute;
    bottom: 10px;
    right: 0px;
    display: none;
    z-index: 1;
}
