/* Opensim Intercom CSS v0.1 by djphil (CC-BY-NC-SA 4.0) */

* {margin: 0px; padding: 0px;}
body {background: #FFFFFF;}

#page-wrap {
    width: 480px;
    margin: 0px auto;
    position: relative;
}

#chat-wrap {;}
#logs pre {background: #FFFFFF; margin-top: 10px;}
.logs-title {font-size: 0.8em;}
.help, .logs {font-size: 0.9em;}
.center {text-align: center;}
.help {;}

#chat-area {
    height: 350px;
    overflow: auto;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

#chat-area span {
    margin: 0px 5px 0px 0px;
    padding: 4px 4px;
    color: #222;
    background: #FFFFFF;
    border: 1px solid #ccc;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

#chat-area p {padding: 8px 0px; border-bottom: 1px solid #CCCCCC;}
#name-area {padding: 2px; font-size: 0.8em;}
#name-area span {font-weight: bold; }
#send-message-area p {float: left; padding-top: 5px;}
#sendie {;}
.footer {margin: 10px; font-size: 0.8em;}
